virus<br>
<%= button "Create", to: "/viruses/new", method: "get" %>
<h1>Listing Viruses</h1>
<table>
  <%= for virus <- @viruses do %>
  <tr>
    <td><b><%= upper_case_name(virus) %></b> (<%= virus.code %>)</td>
    <td><%= link "View", to: Routes.virus_path(@conn, :show, virus.id) %></td>
    <td><%= link "Edit", to: Routes.virus_path(@conn, :edit, virus.id) %></td>
  </tr>
  <% end %> 
</table>